{% ckan_extends %}

{% block package_notes %}
    {% set package_download_count = h.get_package_download_count(pkg) %}
    <div class="tracking-info">
    <span class="recent-views"><i class="fa fa-line-chart"></i> {{pkg.tracking_summary.total if pkg.tracking_summary else 'no tracking'}} Views | {{ package_download_count }} Downloads</span>
    </div>
    {% if pkg.notes %}
    <div class="notes embedded-content">
        {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
    </div>
    {% endif %}
    <table class="package-custom-info">
    <tbody>
    <tr>
    <td class="key-name">Business Line</td>
    <td>
        {% if pkg.business_lines %}
        {% for business_line in pkg.business_lines %}
            {{business_line}}
        {% endfor %}
        {% else %}
            -
        {% endif %}
    </td>
    </tr>
    <tr>
    <td class="key-name">Impact Area</td>
    <td>
        {% if pkg.impact_areas %}
        {% for impact_area in pkg.impact_areas %}
            {{impact_area}}
        {% endfor %}
        {% else %}
            -
        {% endif %}
    </td>
    </tr>
    <tr>
    <td class="key-name">Linked Value Chains</td>
    <td>
        {% set value_chain_names = [] %}
        {% for selected_value_chain in pkg.value_chains %}
            {% for value_chain in h.value_chains %}
                {% if value_chain == selected_value_chain %}
                    {% do value_chain_names.append(value_chain) %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if value_chain_names %}
            {% for name in value_chain_names %}
                {%- if loop.last and loop.index > 1 %} and {% elif not loop.first %}, {% endif -%}
                {{ name }}
            {% endfor %}
        {% endif %}
    </td>
    </tr>
    <tr>
    <td class="key-name">Data Source</td><td>{{ pkg.data_source }}</td></tr>
    <tr>
    <td class="key-name">Originating Countries</td>
    <td>
        {% if pkg.countries %}
            {% for country in pkg.countries %}
                {%- if loop.last and loop.index > 1 %} and {% elif not loop.first %}, {% endif -%}
                {{ country }}
            {% endfor %}
        {% endif %}
    </td>
    </tr>
    <tr>
    <td class="key-name">Methodology</td>
    <td>
    {% if pkg.methodology %}{{ pkg.methodology }}{% else %} - {% endif %}
    </td>
    </tr>
    <tr>
    <td class="key-name">Legal</td>
    <td>
    {% if pkg.legal %}{{ pkg.legal }}{% else %} - {% endif %}
    </td>
    </tr>
    <tr>
    <td class="key-name">License</td>
    <td>
    {% if pkg.sharing_agreement %}{{ pkg.sharing_agreement }}{% else %} - {% endif %}
    </td>
    </tr>
    <tr>
    <td class="key-name">PII</td>
    <td>
    {% if pkg.pii %}{{ pkg.pii }}{% else %} - {% endif %}
    </td>
    </tr>
    <tr>
    <td class="key-name">Anonymization</td>
    <td>
    {% if pkg.anon %}{{ pkg.anon }}{% else %} - {% endif %}
    </td>
    </tr>
    </tbody>
    </table>
{% endblock %}
