<div class="ondebox">
  <svg class="onde" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="onda" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352Z" />
    </defs>
    <g class="parallaxonde">
      <use xlink:href="#onda" x="48" y="0" fill="rgba(114, 191, 68,0.7" />
      <use xlink:href="#onda" x="48" y="3" fill="rgba(255, 255, 255,0.4)" />
      <use xlink:href="#onda" x="48" y="5" fill="rgba(114, 191, 68,0.1)" />
      <use xlink:href="#onda" x="48" y="7" fill="{% if c.action == 'index' %}#fff{% else %} #f8f8f8{% endif %}" />
    </g>
  </svg>
</div>
