{% extends "page.html" %}{% block subtitle %}{{ _("Welcome") }}{% endblock %} {%
block maintag %}{% endblock %} {% block toolbar %}{% endblock %} {% block
content %}
<video autoplay loop muted playsinline data-spai=1 class='home-video-bg' src="/media/agra-video.mp4" poster="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIwIDEwODAiIHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjEwODAiIGRhdGEtdT0iaHR0cHMlM0ElMkYlMkZhZ3JhLm9yZyUyRndwLWNvbnRlbnQlMkZ0aGVtZXMlMkZhZ3JhJTJGYXNzZXRzJTJGaW1nJTJGZGVmYXVsdC1iZy5qcGciIGRhdGEtdz0iMTkyMCIgZGF0YS1oPSIxMDgwIiBkYXRhLWJpcD0iIj48L3N2Zz4="></video>
<div id="home" class="homepage">
  <div id="content" class="container">{{ self.flash() }}</div>
  {% block primary_content %}
  <div role="main">
    <div class="main hero">
      <div class="container">
        <div class="container-content">
          <div class="row">
            <div class="col-md-12">
              {% snippet 'home/snippets/categories.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main content">
      {% snippet 'snippets/waves.html' %}
      <div class="container">
        {% set random_view = h.get_random_dashboard_view() %}
        {% if random_view %}
        <div class="row">
          <div class="col-md-12 dataset-highlights">
          <h1>Dataset Highlights</h1>
            <iframe src="{{ random_view.iframe_url }}" width="100%" height="600px" frameborder="0" id="view-iframe"></iframe>
            This dashboard is part of the resource:
            <strong>
              <a href="{{ h.url_for('resource.read', id=random_view.package_name, resource_id=random_view.resource_id) }}" target="_blank">
                {{ random_view.resource_name }}
              </a>
            </strong> which belongs to the dataset:
            <strong>
              <a href="{{ h.url_for('dataset.read', id=random_view.package_name) }}" target="_blank">
                {{ random_view.package_name }}
              </a>
            </strong>
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-md-12 home-content">
            <h1>Dataset Statistics</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="statistic-box half">
              <div class="stat-title">Impact Areas Dataset</div>
              <div class="stat-chart" id="chart-impact-areas"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="statistic-box half">
              <div class="stat-title">Value Chains Dataset</div>
              <div class="stat-chart" id="chart-value-chains"></div>
            </div>
          </div>
        </div>
        <hr/>
        {% block search %}
          {% snippet 'home/snippets/search.html', search_facets=search_facets %}
        {% endblock %}
        <div class="row">
          <div class="col-md-12 home-content">
            <h1>Learn How</h1>
            <p class="align-center">Get up and running with <strong>AGRASTAT</strong> quickly! This short video tutorial provides a step-by-step guide to using the platform, covering everything from basic navigation to leveraging our custom extensions.  Learn how to maximize Agrastats features and streamline your workflow in just a few minutes.</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 home-content video-content">
            <video src="/media/agra-tutorial.mp4" controls="controls" class="video-frame">
            </video>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  {% endblock %}
</div>

{% block scripts %}
  {{ super() }}
  <script src="{{ h.url_for_static('/base/javascript/dashboard-view.js') }}"></script>
{% endblock %}
