{% extends "page.html" %}{% block subtitle %}{{ _("Welcome") }}{% endblock %} {%
block maintag %}{% endblock %} {% block toolbar %}{% endblock %} {% block
content %}
<div id="home" class="homepage">
  <div id="content" class="container">{{ self.flash() }}</div>
  {% block primary_content %}
  <div role="main">
    <div class="main hero">
      <div class="container">
        <div class="row">
          {% if c.userobj %}
          <div class="col-md-12">
            {% block search %} {% snippet 'home/snippets/search.html',
            search_facets=search_facets %} {% endblock %}
          </div>
          <div class="col-md-12">
            {% block stats %} {% snippet 'home/snippets/stats.html' %} {%
            endblock %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="main content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Find Dataset</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Highlights</h1>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  {% endblock %}
</div>
