{% extends "page.html" %}{% block subtitle %}{{ _("Welcome") }}{% endblock %} {%
block maintag %}{% endblock %} {% block toolbar %}{% endblock %} {% block
content %}
<div id="home" class="homepage">
  <div id="content" class="container">{{ self.flash() }}</div>
  {% block primary_content %}
  <div role="main">
    <div class="main hero">
      <div class="container">
        <div class="row">
          {% if c.userobj %}
          <div class="col-md-12">
            {% block search %} {% snippet 'home/snippets/search.html',
            search_facets=search_facets %} {% endblock %}
          </div>
          <div class="col-md-12">
            {% block stats %} {% snippet 'home/snippets/stats.html' %} {%
            endblock %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="main content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 home-content">
            <h1>Dataset Statistics</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="statistic-box half">
            <div class="stat-title">Top 10 Countries</div>
            <div class="stat-chart" id="chart-countries"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="statistic-box half">
              <div class="stat-title">Business Lines Dataset</div>
              <div class="stat-chart" id="chart-business-lines"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="statistic-box half">
              <div class="stat-title">Value Chains Dataset</div>
              <div class="stat-chart" id="chart-value-chains"></div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-12 home-content">
            <h1>Learn How</h1>
            <p class="align-center">Get up and running with <strong>AGRASTAT</strong> quickly! This short video tutorial provides a step-by-step guide to using the platform, covering everything from basic navigation to leveraging our custom extensions.  Learn how to maximize Agrastat's features and streamline your workflow in just a few minutes.</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 home-content video-content">
            <video src="/media/agra_short.mp4" controls="controls" class="video-frame">
            </video>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
  {% endblock %}
</div>
