{% extends "page.html" %} {% block subtitle %}{{ _('Login') }}{% endblock %} {%
block primary %}
<article class="module-content">
  <div class="row-flex login-container">
    <div class="col-sm-4 col-xs-6 login-image"></div>
    <div class="col-sm-8 col-xs-6 login-form">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Login') }}{% endblock %}
      </h1>
      {% block form %} {% snippet "user/snippets/login_form.html",
      action=g.login_handler, error_summary=error_summary %} {% endblock %}
    </div>
  </div>
</article>
{% endblock %} {% block secondary %}{% endblock %}
