body {
    background: url("../../../base/images/agra-bg.jpg");
    background-size: cover;
    background-position: right;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero {
    background: none;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.masthead {
    z-index: 7;
    margin-bottom: initial;
    padding: 5px;
    background: #fff;
}
.masthead .logo img {
    padding-top: 5px;
}
.masthead a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #fff;
}
.masthead .nav > li > a {
    color: #000;
}
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    color: #fff;
    text-shadow: none;
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
    background-color: #08743f;
}
.masthead .site-search {
    margin: 4px 8px 4px 0;
}
a.tag {
    border: none;
    box-shadow: none;
}
a.tag:hover {
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #919191;
}
span.label.label-count {
    margin-left: 5px;
    background-color: #ffffd6;
    color: #00565a;
}
.row.dataset-list {
    min-height: 120px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0px;
}
.row.dataset-list .dataset-info,
.row.dataset-list .dataset-description {
    min-height: 120px;
    padding: 0px;
}
.row.dataset-list .dataset-info .dataset-resources {
    position: absolute;
    bottom: 10px;
}
.row.dataset-list h2 {
    font-weight: 600;
}
span.recent-views,
span.private-views {
    font-weight: 400;
    color: #00565a;
}
span.private-views {
    color: #e0051e;
}
.site-footer {
    font-family: Poppins, sans-serif;
    padding: 20px 0px 0px;
    background: #ebebeb;
    border-top: 1px solid #e5e5e5;
    color: #08743f;
}
.site-footer ul li {
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.site-footer ul li a {
    color: #08743f;
}
.site-footer ul li a:hover {
    color: #00565a;
    text-decoration: none;
}
.site-footer .footer-logo-agra img {
    height: 50px;
    margin-top: 5px;
}
.site-footer .attribution {
    text-align: right;
}
.site-footer .attribution img {
    margin-left: 10px;
    vertical-align: middle;
    max-height: 16px;
}
.container-end {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-top: 10px;
}
/* Login Page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.login-image {
    background: url("../../../base/images/login.jpg");
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.login-form {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}
/* Home Page */
#home > div[role="main"] > .main.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 72px);
}
#home > div[role="main"] > .main.hero h1,
#home > div[role="main"] > .main.hero h1 small {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 0;
}

#home > div[role="main"] .main.content {
    background: #fff;
}
#home > div[role="main"] > .main.hero h1 small {
    color: #e5e71e;
}
#home > div[role="main"] > .main.hero h4 {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 42px;
}
.homepage .module-search {
    background: none;
    padding: 40px;
}

#home > div[role="main"] .main.content h1 {
    text-align: center;
    color: #08743f;
}
