body {
    background: url("../../../base/images/agra-bg.jpg");
}
.home-video-bg {
    position: fixed;
    top: 0;
    z-index: -1;
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero {
    background: none;
}
.navbar-static-top {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.navbar-static-top.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.row.wrapper {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav-tabs-plain {
    padding: 0px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 10px 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #08743f;
  text-decoration: none;
  background-color: #f5f5f5;
}


.stages li.active .highlight {
    background: #08743f;
}
.stages li.active::before {
    color: #08743f;
}
.form-actions {
    text-align: right;
    height: 82px;
}
.controls.editor {
    margin-bottom: 30px;
}
#field-tags {
    margin-bottom: 10px;
}
#tag-suggestions {
    margin-bottom: 30px;
    margin-top: -30px;
}
#tag-suggestions .text-muted {
    margin-top: -30px;
    margin-bottom: 30px;
    font-size: 11px;
    font-weight: normal;
    color: #6e6e6e;
    line-height: 1.3;
}
#tag-suggestions div.label {
    display: inline-block;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #999;
    cursor: pointer;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 4px 5px 8px;
    background-image: -moz-linear-gradient(
        top,
        #f4f4f4 20%,
        #f0f0f0 50%,
        #e8e8e8 52%,
        #eee 100%
    );
}
#tag-suggestions div.label span {
    padding: 0px 5px;
    color: #333;
}
#tag-suggestions div.label i {
    color: #888;
    font-size: 10px;
}

.nav-item a i {
    padding-right: 5px;
}
.masthead {
    z-index: 7;
    margin-bottom: initial;
    padding: 5px;
    background: #fff;
}
.masthead .logo img {
    padding-top: 5px;
}
.masthead a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #fff;
}
.masthead .nav > li > a {
    color: #000;
}
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    color: #fff;
    text-shadow: none;
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
    background-color: #08743f;
}
.masthead .site-search {
    margin: 4px 8px 4px 0;
}
a.tag {
    border: none;
    box-shadow: none;
}
a.tag:hover {
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #919191;
}
span.label.label-count {
    margin-left: 5px;
    background-color: #ffffd6;
    color: #00565a;
}
.row.dataset-list {
    min-height: 120px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0px;
}
.row.dataset-list .dataset-info,
.row.dataset-list .dataset-description {
    min-height: 120px;
    padding: 0px;
}
.row.dataset-list .dataset-info .dataset-resources {
    position: absolute;
    bottom: 10px;
}
.row.dataset-list h2 {
    font-weight: 600;
}
span.recent-views,
span.private-views {
    font-weight: 400;
    color: #00565a;
}
span.private-views {
    color: #e0051e;
}
.site-footer {
    font-family: Poppins, sans-serif;
    padding: 20px 0px 0px;
    background: #ebebeb;
    border-top: 1px solid #e5e5e5;
    color: #08743f;
}
.site-footer ul li {
    padding-bottom: 5px;
    margin-bottom: 0px;
}
.site-footer ul li a {
    color: #08743f;
}
.site-footer ul li a:hover {
    color: #00565a;
    text-decoration: none;
}
.site-footer .footer-logo-agra img {
    height: 50px;
    margin-top: 5px;
}
.site-footer .attribution {
    text-align: right;
}
.site-footer .attribution img {
    margin-left: 10px;
    vertical-align: middle;
    max-height: 16px;
}
.container-end {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-top: 10px;
}
/* Login Page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.login-image {
    background: url("../../../base/images/login.jpg");
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.login-form {
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
}
/* Home Page */
#home > div[role="main"] > .main.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 72px);
}
#home > div[role="main"] > .main.hero h1,
#home > div[role="main"] > .main.hero h1 small {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#home > div[role="main"] .main.content {
    background: #fff;
}
#home > div[role="main"] > .main.hero h1 small {
    color: #e5e71e;
}
#home > div[role="main"] > .main.hero h4 {
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 42px;
}
.homepage .module-search {
    background: none;
    padding: 40px;
}

#home > div[role="main"] .main.content h1 {
    text-align: center;
    color: #08743f;
}
#home .home-content h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

table.package-custom-info {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: None
    margin-bottom: 20px;
}

table.package-custom-info td,
table.package-custom-info td.key-name {
    padding: 5px;
    border: None;
}
table.package-custom-info td.key-name {
    width: 200px;
    font-weight: 600;
}

.control-label.is-required:before{
    content: "*";
    color: #c6898b;
    padding-right: 5px;
}
.align-center {
    text-align: center;
}

/* Statistics Home */
.statistic-box {
    background: #ebebeb;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.statistic-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.statistic-box .stat-title{
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background: #08743f;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  border: solid 1px #08743f;
}
.statistic-box .stat-chart{
    margin: 10px;
    height: 400px;
}
/* Home Video Content*/
.home-content.video-content {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.home-content.video-content .video-frame {
    width: 80%;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}
.home-content.video-content .video-frame:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Contact */
.contact-form legend {
    display: none;
}
.contact-form.form-horizontal .form-group.control-full,
.contact-form.form-horizontal .form-group.control-medium {
    margin-left: 0px;
    margin-right: 0px;
}


/* Dashboard */

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
    min-height: 100px;
}
.add-visual {
    font-size: 24px;
    cursor: pointer;
    color: #007bff;
}
ul.dropdown-menu li a i {
    min-width: 20px;
    text-align: center;
    font-size: initial;
}
