<div class="row category-icons">
  {% for category in h.impact_areas %}
    <div class="col-md-4 text-center">
      <a href="{{ h.url_for('dataset.search', vocab_impact_areas=category) }}" class="category-link" target="_blank">
      <div class="category">
        {% set category_icon = category.lower().replace(" ", "_") %}
        <div class="icons">
        <img src="/images/{{category_icon}}.png">
        </div>
        <div class="title">{{category}}</div>
      </div>
      </a>
    </div>
  {% endfor %}
</div>
