{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %} {% set
placeholder = _('E.g. environment') %}

<div class="module module-search module-narrow module-shallow">
  <h1>Data on African Agriculture</h1>
  {% set num_datasets = h.datasets_count() %}
  {% set num_resources = h.resources_count() %}
  {% set num_countries = h.countries|length %}
  <h2 class="tagline">
    Discover <small>{{ num_datasets }} datasets</small> with <small>{{ num_resources }} resources</small> covering <small>{{ num_countries }} Countries</small>
  </h2>
  <form
    class="module-content search-form"
    method="get"
    action="{% url_for 'dataset.search' %}"
  >
    <div class="search-input form-group search-giant">
      <input
        aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}"
        id="field-main-search"
        type="text"
        class="form-control"
        name="q"
        value=""
        autocomplete="off"
        placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}"
      />
      <button type="submit" aria-labelledby="search-label">
        Search
        <i class="fa fa-search"></i>
      </button>
    </div>
  </form>
</div>
