{% ckan_extends %}

{% block package_basic_fields_description %}
{{ form.markdown('notes', id='field-notes', label=_('Related Knowledge Management Products'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes) }}
<div class="form-group control-medium">
  <label class="control-label is-required" for="business-lines">{{ _("Business Line") }}</label>
  <div class="controls">
    <select id="bussines-lines" name="business_lines" class="form-control">
      <option value="">Please Select</option>
      {% for business_line in h.business_lines %}
        <option value="{{ business_line }}"
            {% for selected_business_line in data.business_lines %}
              {% if selected_business_line == business_line %}
                selected="selected"
              {% endif %}
            {% endfor %}>
          {{ business_line }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="form-group control-medium">
  <label class="control-label is-required" for="impact-areas">{{ _("Impact Area") }}</label>
  <div class="controls">
    <select id="impact-areas" name="impact_areas" class="form-control">
      <option value="">Please Select</option>
      {% for impact_area in h.impact_areas %}
        <option value="{{ impact_area }}"
            {% for selected_impact_area in data.impact_areas %}
              {% if selected_impact_area == impact_area %}
                selected="selected"
              {% endif %}
            {% endfor %}>
          {{ impact_area }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="form-group control-medium">
  <label class="control-label is-required" for="value_chains">{{ _("Linked Value Chains") }}</label>
  <div class="controls">
    <select id="value_chains" name="value_chains" data-module="autocomplete" multiple="multiple" placeholder="Please Select">
      {% for value_chain in h.value_chains %}
        <option value="{{ value_chain }}"
          {% for selected_value_chain in data.value_chains %}
            {% if selected_value_chain == value_chain %}
              selected
            {% endif %}
          {% endfor %}>
          {{ value_chain }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="form-group control-medium">
  <label class="control-label is-required" for="data-source">{{ _("Data Source") }}</label>
  <div class="controls">
    <select id="data-source" name="data_source" class="form-control">
      <option value="">Please Select</option>
      {% for source in h.data_sources %}
        <option value="{{ source }}"
          {% if data.data_source == source %}
            selected="selected"
          {% endif %}>
          {{ source }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="form-group control-medium">
  <label class="control-label is-required" for="countries">{{ _("Originating Countries") }}</label>
  <div class="controls">
    <select id="countries" name="countries" data-module="autocomplete" multiple="multiple" placeholder="Please Select">
      {% for country in h.countries  %}
        <option value="{{ country }}"
          {% for selected_country in data.countries  %}
          {% if selected_country == country %}
            selected
          {% endif %}
          {% endfor %}>
          {{ country }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>
{{
  form.input('author', label=_('Data Owner'),
  id='field-author', placeholder=_('Joe Bloggs'),
  value=data.author or c.user, error=errors.author, classes=['control-medium']) }}
{{
  form.input('author_email', label=_('Email'),
  id='field-author-email', placeholder=_('joe@example.com'),
  value=data.author_email or c.userobj.email if c.userobj else '',
  error=errors.author_email, classes=['control-medium'])
}}
<div class="form-group control-medium">
  <label class="control-label" for="methodology">{{ _("Methodology of Data Collection") }}</label>
  <div class="controls">
    <select id="methodology" name="methodology" class="form-control">
      <option value="">Please Select</option>
      {% for methodology in h.methodologies %}
        <option value="{{ methodology }}"
          {% if data.methodology == methodology %}
            selected="selected"
          {% endif %}>
          {{ methodology }}
        </option>
      {% endfor %}
    </select>
  </div>
</div>
{% endblock %}



{% block package_basic_fields_custom %}
{% endblock %}

{% block package_basic_fields_tags %}
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full '], attrs=tag_attrs) }}
  <div id="tag-suggestions"></div>
{% endblock %}

{% block package_basic_fields_license %}
  {{ form.select('legal', id='field-legal', options=[{"text": "Please Select", "value": ""}, {"value": "GDPR"}, {"value": "HIPAA"}], label=_('Legal'), selected=data.legal, error=errors.legal, classes=['control-full padding-top-20']) }}
  {{ form.input('sharing_agreement', id='field-sharing-agreement', placeholder=_('eg. https://creativecommons.org'), label=_('License / Sharing Agreement'), value=data.sharing_agreement, error=errors.sharing_agreement, classes=['control-full']) }}
{% endblock %}

{% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_can_update_owner_org = h.can_update_owner_org(data, organizations_available) %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available and user_can_update_owner_org %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

{% if show_organizations_selector and show_visibility_selector %}
<div data-module="dataset-visibility">
  {% endif %}

  {% if show_organizations_selector %}
  {% set existing_org = data.owner_org or data.group_id %}
  <div class="form-group control-medium">
    <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
    <div class="controls">
      <select id="field-organizations" name="owner_org" data-module="autocomplete">
        {% if h.check_config_permission('create_unowned_dataset') %}
        <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
        {% endif %}
        {% for organization in organizations_available %}
        {# get out first org from users list only if there is not an existing org #}
        {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
        <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}

{% if show_visibility_selector %}
{% block package_metadata_fields_visibility %}
<div class="form-group control-medium">
  <label for="field-private" class="control-label">{{ _('Data Visibility') }}</label>
  <div class="controls">
    <select id="field-private" name="private" class="form-control">
      {% for option in [('True', _('Private')), ('False', _('Public'))] %}
      <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% endblock %}
{% endif %}
{% if show_organizations_selector and show_visibility_selector %}
  </div>
{% endif %}

{% block package_other_custom_metadata %}
<div class="form-group control-medium">
  <label for="field-pii" class="control-label is-required">{{ _('Does the dataset contain PII ?') }}</label>
  <div class="controls">
    <select id="field-pii" name="pii" class="form-control">
      <option value="">Please Select</option>
      {% for option in [('Yes', _('Yes')), ('No', _('No'))] %}
          <option value="{{ option[0] }}"
          {% if data.pii == option[0] %}
            selected="selected"
          {% endif %}>
          {{ option[1] }}
          </option>
      {% endfor %}
    </select>
  </div>
</div>
<div class="form-group control-medium">
  <label for="field-anon" class="control-label">{{ _('Anonymization needed') }}</label>
  <div class="controls">
    <select id="field-anon" name="anon" class="form-control">
      {% for option in [('Yes', _('Yes')), ('No', _('No'))] %}
          <option value="{{ option[0] }}"
          {% if data.anon == option[0] %}
          selected="selected"
          {% endif %}>
          {{ option[1] }}
          </option>
      {% endfor %}
    </select>
  </div>
</div>
{% endblock %}

{% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
  <div class="form-group control-medium">
    <label for="field-state" class="control-label">{{ _('State') }}</label>
    <div class="controls">
      <select class="form-control" id="field-state" name="state">
        <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
        <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
      </select>
    </div>
  </div>
{% endif %}
{% endblock %}
