{% ckan_extends %}
{% block package_metadata_fields %}
  {% block package_metadata_fields_version %}
    {{
    form.input('version', label=_('Version'),
    id='field-version', placeholder=_('1.0'),
    value=data.version, error=errors.version,
    classes=['control-medium hidden'])
    }}
  {% endblock %}
  {% block package_metadata_fields_maintainer %}
    {{
    form.input('maintainer', label=_('Maintainer'),
    id='field-maintainer', placeholder=_('Joe Bloggs'),
    value=data.maintainer or c.user, error=errors.maintainer,
    classes=['control-medium hidden'])
    }}
    {{
    form.input('maintainer_email', label=_('Maintainer Email'),
    id='field-maintainer-email', placeholder=_('joe@example.com'),
    value=data.maintainer_email or c.userobj.email if c.userobj else '',
    error=errors.maintainer_email, classes=['control-medium hidden'])
    }}
  {% endblock %}
  {% block package_metadata_fields_custom %}
  {% endblock %}
  {% block dataset_fields %}
  {% endblock %}
{% endblock %}
