<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-md-3 footer-logo-agra">
        <img src="{{ h.url_for_static('/base/images/logo-agra.png') }}" />
      </div>
      {% block footer_nav %}
      <div class="col-md-3 footer-links">
        <h3>Who We Are</h3>
        <ul class="list-unstyled">
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/policies">Policies</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-links">
        <h3>Links</h3>
        <ul class="list-unstyled">
          <li>
            <a href="{{ h.url_for(controller='home', action='about') }}"
              >{{ _('About {0}').format(g.site_title) }}</a
            >
          </li>
        </ul>
        <ul class="list-unstyled">
          <li><a href="/documentation/index.html">Documentation</a></li>
          <li>
            <a href="/faostat">FAOSTAT</a>
          </li>
          <li>
            <a href="/convert">Data Converter</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-links">
        <h3>Contact Us</h3>
        <p>
          West End Towers</br>
          4th Floor, Muthangari Drive,</br>
          Off Waiyaki way,</br>
          Nairobi</br>
        </p>
      </div>
      {% endblock %}
    </div>
    {% endblock %}
  </div>
  <div class="container-end">
    <div class="container">
      <div class="row">
        <div class="col-md-6 copyright">
          {% block footer_copyright %}
          <p>Copyright &copy; 2024, AGRA. All Rights Reserved</p>
          {% endblock %}
        </div>
        <div class="col-md-6 attribution">
          {% block footer_attribution %}
          <p>
            Powered by
            <a class="attribution-logo" href="http://ckan.org">
              <img src="/base/images/logo-ckan.png" />
            </a>
            <a class="attribution-logo" href="http://akvo.org">
              <img src="/base/images/logo-akvo.png" />
            </a>
            <a href="http://www.opendefinition.org/okd/">
              <img
                src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}"
                alt="Open Data"
              />
            </a>
          </p>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</footer>
